<ion-view title="Activités">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-plus" ng-click="fn.createActivity()"></button>
  </ion-nav-buttons>
  <div class="bar bar-subheader item-input-inset" ng-class="{'bar-positive': search.length > 0}">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Rechercher ..." ng-model="search">
    </label>
    <button class="button button-clear" ng-click="search=''">Annuler</button>
  </div>
  <ion-content class="has-subheader">
    <ion-refresher pulling-text="Tvirez pour actualiser..." on-refresh="fn.refreshActivities()"></ion-refresher>
    <div class="list">
      <a class="item" ng-repeat="activity in filteredActivities = (data.activities | filter:search | orderBy:'-date') track by activity.id" ui-sref="app.health.activity({id: activity.id})">
        <h2>{{activity.name}}</h2>
        <p>{{activity.date | date}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
