<ion-view title="Notes">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-plus" ng-click="fn.createMemo()"></button>
  </ion-nav-buttons>
  <div class="bar bar-subheader item-input-inset" ng-class="{'bar-positive': search.length > 0}">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Rechercher ..." ng-model="search">
    </label>
    <button class="button button-clear" ng-click="search=''">Annuler</button>
  </div>
  <ion-content class="has-subheader">
    <ion-refresher pulling-text="Tirez pour actualiser..." on-refresh="fn.refreshMemos()"></ion-refresher>
    <div class="list card" ng-repeat="memo in filteredMemos = (data.memos | filter:search | orderBy:'-date') track by memo.id" ui-sref="app.health.memo({id: memo.id})">
      <div class="item item-header-picture" ng-if="memo.pictures.length > 0" style="background-image: url({{memo.pictures[0].fullPath}})"></div>
      <div class="item item-body">
        <h2>{{memo.title}}</h2>
        <p class="multi" ng-bind-html="memo.text | multi"></p>
      </div>
    </div>
  </ion-content>
</ion-view>
